*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}




@media only screen and (max-width: 800px)

{



    /*HEADER*/  /*DYNAMISK BLIR HAMBURGER*/

    .wrapper-frontpage
    {
        margin-top: 85px;
    }
   
    .navbar {
        background-color: rgba(255, 255, 255, 0.945);
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;
        display: block;
        height: auto;
    }

  
    .hamburger {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        font-size: 40px;
        color: #5C755D;
    }
    .menyliste {
        list-style-type: none;
        display: none;
    }
    .aktiv {
        display: block;
    }

   
}

@media only screen and (max-width: 600px)
{
    .frontpage
    {
    width: 500px;
   
    }
}

@media only screen and (max-width: 500px)
{
    .frontpage
    {
    width: 400px;
    
    }
}

@media only screen and (max-width: 400px)
{
    .frontpage
    {
    width: 300px;
  
    }
}
    @media only screen and (max-width: 300px)
{
    .frontpage
    {
    width: 200px;
   
    }
}
