*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}


/*HEADER*/

.header
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    height:75px;
    top:0;
    position: fixed;
    background-color: white;
  
}

.box-type1
{
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.box-type2
{
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.box-type1 h1
{
  width: 60%;
  color:#CBDBC5;
  font-size: 40px;
}

.box-type1 h1 span
{
  font-size: 50px;
  color:rgb(92, 117, 92);
}

ul
{
    list-style-type: none;
    width:80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left:0;
    
}

li a
{
    text-decoration: none;
    color: rgb(92, 117, 92);
    font-size: 20px;
}

li a:hover
{
    color:rgb(134, 170, 134);
}

/*INNHOLD*/

.wrapper-page
{
    margin-top:100px;
    
}

.title
{
    width:100%;
    display: flex;
    justify-content: center;
    text-align: center;
    border-bottom:10px solid #E8E6E6;
    margin-bottom: 20px;
    color:rgb(92, 117, 92);
    
}

.title h2
{
    border:8px solid  #CBDBC5;
    width:200px;
    background-color: white;
    margin-bottom: -40px;
    padding:10px;
}

.wrapper-content
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width:100%;
    margin-top: 30px;
    
    
}
.recepie
{
    border:5px solid #f3f0f0;
    background-color: #f3f0f0;
    padding-bottom:10px;
    margin-top: 30px;
    
}
.recepie a
{
    text-decoration: none;
}

.recepie:hover
{
    border:10px solid #f3f0f0;
}

.recepie img
{
    width:300px;
    height:250px;
    object-fit: cover;
    
}
.text
{
    text-align: center;
    color:black;
    margin-top: 10px;
    font-size: 20px;
}


/*FOOTER*/

.footer
{
    width:100%;
    background-color: #CBDBC5;
    height: 100px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fab
{
    color:white;
    text-decoration: none;
    font-size: 60px;
    margin:10px;
}

.fab:hover
{
   color:#E8E6E6;
}

/*DROP DOWN MENU*/

.dropdown {
    position: relative;
    display: inline-block;
    color: rgb(92, 117, 92);
    font-size: 20px;
  }
  .dropdown:hover {
    color:rgb(134, 170, 134);
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding-left:20px;
    padding-right:20px;
    text-align: center;
    padding-top: 10px;
   
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


